@page "/logout"
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("Saml2/Logout", true);
        }
    }
}